:root {
    --white: #fff;
    --active-color: #00aeb0;
    --width: 350px;
} 

* {
    box-sizing: border-box;
}
  
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #d3d1d15b;
    z-index: 7;
    /* background: var(--active-color);  */
    transition: background 0.4s ease-in-out;
}
  
button {
    background: none;
    border: none;
    cursor: pointer;
}

.audio-player{
    max-width: var(--width);
    min-height: 500px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.5);
    margin: auto;
    color: var(--white);
    background-color:  var(--active-color);
}

.artwork {
    border-radius: 120px;
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
}

.track-info {
    width: 300px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.audio-section{
    display: flex;
    max-width: var(--width);
    min-height: 500px;
    background-color: var(--active-color);
    border-radius: 20px;
    box-shadow: 2px 2px 28px 2px rgba(0, 0, 0, 0.5) ;
    margin-left: 20px;
}
.audio-section-right {
    overflow-y: scroll;
    height: 500px;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}
  
.artist {
    font-weight: 300;
    margin-top: 0;
}

input[type=range]{
    height: 5px;
	-webkit-appearance: none;
    border-radius: 8px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}

.progress { 
	width: 75%;
	margin-bottom: 10px;
}
/* .track-info-setting {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */
.volume_slider{
    width: 30%;
    transform:  rotate(-90deg);
    translate: 20px 10px;
    bottom: 3.5rem;
    position: relative;
}
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 700px;
}
.speaker-icon {
    justify-self: flex-end;
    position: relative;
}

