.single-track{
    background: #252831;
    border-left: 4px solid green;
    border-right: 2px solid green; 
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    list-style: none;
    height: 80px;
    text-decoration: none;
    font-size: 18px;
    margin: 2px;
}
.single-track:hover {
    background: #15171c;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
    cursor: pointer;
}
.single-track-selected {
    background: #15171c;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
    cursor: pointer;
}

.single-track-image{
    border-radius: 120px;
    height: 60px;
    width: 60px;
}

.single-track-text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.single-track-text:first-child{
    font-weight: 700;
    font-size: 20px;
}
.single-track-text:last-child{
    font-weight: 500;
    font-size: 15px;
    color: aquamarine;
    justify-content: center;
}
.single-track-text-title{
    font-size: 14;
    margin-top: 5px;
}
.single-tract-state{
    position: relative;
}

.pause svg path{
    height: 20px;
    width: 20px;
    color: #fff;
    align-self:flex-end;
    fill: var(--white);
    position: relative;
    left: 50px;
}
/* .pause {
    height: 25px;
    width: 25px;
    color: #fff;
    align-self:flex-end;
} */

